html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.color1{
	background: #FF0088;
	width: 3%;
	height: 5px;
	float: left;
}
.color2{
	background: #66DD00;
	width: 3%;
	height: 5px;
	float: left;
}
.color3{
	background: #33CCFF;
	width: 3%;
	height: 5px;
	float: left;
}
.color4{
	background: #000000;
	width: 91%;
	height: 5px;
	float: left;
}
.wrap{
	width: 960px;
	margin: 0 auto;
	font-family:'Calibri';
}
.header{
	height: 90px;
	margin: 15px;
}
.h1{
	padding-left: 10px;
	padding-right:80px;
	float: left;
}

.icon{
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}
.list{
	color: black;
	float: right;
	width: 600px;
}
.list li a{
	float:right;
	list-style:none;
	margin: 60px 20px 0px 20px
	color:#292929;
	font-size: 100%;
	text-decoration:none;
}
.clear{
  clear: both
}
.content1{
	/*height: 400px;*/
	/*background: #272727;*/
	margin: 15px;
}
.box{
	float: left;
	height: 415px;
	width: 640px;
}
.box1{
	float: left;
	height: 415px;
	width: 290px;
	background: #272727;
}
.box1 h2{
	color: #33CCFF;
	font-size: 40px;
	margin:30px 40px;
}
.box2{
	margin-top: 80px;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 10px;
	/*width: 260px;*/
	float: left;
	
	}
.box3{
	margin: 20px 40px;
	color: #AAAAAA;
	line-height:20px;
}

.button{
	background: #666666;
	float: left;
	height: 30px;
	width: 100px;
	margin-left: 40px;
	margin-top: 20px;
	color: white;
	padding: 5px;
	text-align: center;
	line-height:30px
}
.content2{
	background: white;
	color: black;
	line-height:25px;
	margin: 15px;
	padding: 40px;　　
}
.content3{
	background: white;
	margin: 15px;
	width: 930px;
	height: 450px;
}
.leftbox{
	margin: 15px 0px 15px 15px;
	float: left;
	width: 600px;
}
.h2{
	font-size: 25px;
	padding: 30px;
}
.box4{
	float: left;
	margin-left: 30px;
	margin-bottom: 20px;
}
.content3 h3{
	font-weight:bold;
	float: left;
	font-size: 30px;
	padding: 10px;
	width: 600px;
}
.info{
	margin: 20px 0px;
	float: left;
	width: 600px;
}
.info img{
	float: left;
}
.info h4{
	float: left;
	margin:5px 0px 10px 30px;
	font-weight: bold;
}
.info p{
	float: left;
	margin:5px 0px 10px 30px;
	width: 350px;
	line-height: 25px;
}
.rightbox{
	float: right;
	margin: 15px 0px 15px 15px;
	width: 300px;
}
.note{
	margin: 10px 0px 30px 0px;
	float: left;
	line-height: 30px;
}
.note img{
	margin: 0px 5px;
}
/*.rightbox h3{
	font-weight:bold;
	float: left;
	font-size: 30px;
	padding: 10px;
}*/
.note2{
	margin: 20px 0px;
	float: left;
	line-height: 30px;
	width: 360px;
}
.text{
	border: 1px solid #ccc;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 60px;
}
.button2{
	background: #666666;
	float: left;
	height: 30px;
	width: 100px;
	margin-top: 20px;
	padding-left:10px;
	color: white;
	padding: 5px;
	text-align: center;
	line-height:30px
}
.footer{
	margin: 15px;
}
.footer p{
	text-align: center;
	line-height: 25px;
	margin: 30px 0px;
}